*{  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}
.header{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-color: #0b0a11;
  background-size: cover;
  position: relative;
}
nav{
  
  display: flex;
  flex-direction: row;
  padding: 1.5% 6%;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav img{
  display: flex;
  flex: 1;
  width: 200px;
  margin-left: -40px;
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  margin-left: 80px;
}
.nav-links ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  display: inline-block;
  padding: 8px 15px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #6D893E;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.contact-btn{
  background: rgb(174,246,51,0.3);
  border: none;
  border-radius: 8%;
    outline: 0;
    border: 1;
    color: #aef633;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 80px;
    cursor: pointer;
}

.text-box{
  display: flex;
  flex-direction: column;
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
  margin-top: 40px;
  margin-bottom: 30px;
}

.col-2{
  display: flex;
  flex-direction: column;
  position: relative;
}

.col-3{
  
 
  flex-direction: column;
  position: relative;

}

.col-2 img{
  border: 10px solid #11101c;
  width: 480px;
  height: 400px;
  position: absolute;
  top: 30px;
  left: 800px;
  object-fit: cover;
}

.col-3 img{
  border: 10px solid #11101c;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 190px;
  left: 500px;
 
}

.text-box h1{
  font-size: 46px;
  line-height: 60px;
}


span{
  color: #aef633;
}

.text-box p{
  font-size: 14px;
  margin-top: 20px;
}

.services{
  width: 90%;
  margin: 70px auto;
  text-align: center;
  padding-top: 100px

}

.the-cta{
  display: flex;
  margin-top: 400px;
  margin-left: -15px;
}


.hero-text{
  font-size: 17px;
  margin-bottom: 30px;
}

.landing-container::before{
    content:"";
    width: 2px;
    background-color: #aef633;
    height: 100%;
    margin: 0 20px;

}
.landing-container{
  display: flex;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.sub-row{
  margin-top: 5%;
  display: inline-block;
  justify-content: space-between;
  flex-direction: row;
}

.service-col img{
 width: 10%;
}
.service-col{
  flex-basis: 30%;
  background: #aef633;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.service-col:hover{
  box-shadow: 0 20px 10px 0px rgba(0,0,0,0.2);
}



.thumbnail{
  width: 100%;}



.video-info-grid{
  display: grid;
  grid-template-columns: 1fr;

}

.video-author{
  text-align: center;
  font-size: 30px;
  color: rgb(96, 96, 96);
}

.video-author{
  margin-bottom: 4px;
   
}


.thumbnail-row{
  margin-bottom: 8px ; 
  position: relative;
}

.service-grid{
  font-family: Roboto,Arial;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  z-index: 0;

}
